In [1]:
# Import Dependencies
import sqlite3
import pandas as pd

In [2]:
# Import CSV file
df = pd.read_csv('countries-table.csv')
df.set_index('country', inplace=True)
df.head()

,rank,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050
country,,,,,,,,,,,,,,,,,,
India,1,3287590.0,2973190.0,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,356,696828385,1059633675,1240613620,1417173173,1428627663,1514994080,1670490596
China,2,9706961.0,9424702.9,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,156,982372466,1264099069,1348191368,1425887337,1425671352,1415605906,1312636325
United States,3,9372610.0,9147420.0,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,840,223140018,282398554,311182845,338289857,339996563,352162301,375391963
Indonesia,4,1904569.0,1877519.0,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,360,148177096,214072421,244016173,275501339,277534122,292150100,317225213
Pakistan,5,881912.0,770880.0,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,586,80624057,154369924,194454498,235824862,240485658,274029836,367808468

In [3]:
# Connect to SQLite db
connection = sqlite3.connect('countries.sqlite')

In [4]:
# Load csv to SQLite db
df.to_sql('countries', connection, if_exists='replace', index=True, index_label='country')

234

In [5]:
# Confirm primary key
cursor = connection.execute('PRAGMA table_info(countries)')
columns = cursor.fetchall()

primary_key_column = None
for column in columns:
    if column[5] == 1:
        primary_key_column = column[1]
        break

if primary_key_column is not None:
    print(f'The primary key column is {primary_key_column}.')
else:
    print('The table does not have a primary key.')

The table does not have a primary key.

In [6]:
# Close connection
connection.close()